<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <form action="" method="POST">
        <label for="roleName">Name of the role:</label>
        <input id="roleName" name="roleName" type="text">
        <input type="submit" value="Send">
    </form>
</body>
</html>