<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <%pages.map(page =>{%>
        <a href="<%=page.url%>"><button><%=page.title%></button></a>
    <%})%>        
    <%if(characters.length > 0){%>
        <ul>
            <%characters.map(character =>{%>
                <li><%=`${character.ch_name} | ${character.ra_name} | ${character.ro_name}`%></li>
            <%})%>                            
        </ul>
    <%}%>        
</body>
</html>