<!DOCTYPE html>
<html lang="en">
<%-include('head', title)%>
<body>
    <form action="" method="POST">
        <label for="roleName">Name of the role:</label>
        <input id="roleName" name="roleName" type="text" value="<%=role.ro_name%>">
        <input type="submit" value="Edit">        
    </form>
    <a href="<%=role.id%>/delete"><button>Delete</button></a>
</body>
</html>