<!DOCTYPE html>
<html lang="en">
<%-include('head', title)%>
<body>
    <form action="" method="POST">
        <label for="raceName">Name of the race:</label>
        <input id="raceName" name="raceName" type="text" value="<%=race.ra_name%>">
        <input type="submit" value="Edit">        
    </form>
    <a href="<%=race.id%>/delete"><button>Delete</button></a>
</body>
</html>